<footer style="position:fixed; left:0px; bottom:0px; background-color:dodgerblue; width:100%;">
	<div class="container">
		<div class="row">
			<div class="col-md-6 copy">
				<span style="color:white; text-align:">SQL Stress - COPYRIGHT &#169 <?= date("Y"); ?> All Rights Reserved </span>
				<h3 style="color:white">Contacto</h3>
				<hr style="background-color: white; height: 1px; border: 0;">
				<p style="color:white">Correo electrónico: admin@SQLStress.com</p>
				<p style="color:white">Teléfono: 2348-5784</p>
			</div>
			<div class="col-md-6 text-right social">
				<p style="color:white; font-size:20px">Búscanos en </p>
				<div class="social-buttons">
					<i class="fab fa-facebook" style="font-size:30px"></i>

					<i class="fab fa-github" style="font-size:30px"></i>

					<i class="fab fa-twitter" style="font-size:30px"></i>

				</div>
			</div>
		</div>
	</div>
</footer>
