<div class="remodal" data-remodal-id="modalSuccess" data-remodal-options="hashTracking: false, closeOnOutsideClick: false" style="background-color:rgb(56,56,56)">
    <header class="modal__header">
        <div class="row">
            <div class="col-md-2">
                <i class="fas fa-check" style="font-size:50px;color:green"></i>
            </div>
            <div class="col-md-10 align-middle">
                <h5 style="color:whitesmoke;font-weight:bold;font-size:15px; position: absolute; top: 50%; transform: translateY(-50%);" id="textContainerSuccess">
                </h5>   
            </div>
        </div>
    </header>
    <div class="modal__body l_columns l_columns--centered-content">
        <button data-remodal-action="confirm" class="remodal-confirm" style="background-color:rgb(56,56,56);color:white;border:none; position:relative; cursor:pointer">Aceptar</button>
    </div>
</div>
