<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Reporte de Prueba</title>
	@Styles.Render("~/Vendors/css")
	@Styles.Render("~/Shared/css")
	@RenderSection("styles", required: false)
</head>
<body>
	@*@model SQLStress.Core.ViewModels.InfoRequestModel*@
	@RenderBody()
	@{ Html.RenderPartial("~/Views/Shared/NavBar/_NavPaginaPrincipal.cshtml");}
	<div class="form-group form-group-sm col-sm-6">
		<div class="row">
			<label for="ReporteBase" class="col-sm-6 col-form-label" style="font-size: 25px; padding:10px;"> Reporte de la base de datos </label>
		</div>
	</div>
	<form class="form-horizontal">
		<div class="container">
			<div class="row">
				<div class="form-group form-group-sm col-sm-6">
					<div class="row">
						<label for="ConsultasServidor" class="col-sm-6 col-form-label" style="font-size: 17px;"> Cantidad de consultas al servidor:</label>
					</div>
				</div>
				<div class="form-group form-group-sm col-sm-6">
					<div class="row">
						<label for="HilosEjec" class="col-sm-6 col-form-label" style="font-size: 17px;"> Cantidad de hilos de ejecución: </label>
					</div>
				</div>
				<div class="form-group form-group-sm col-sm-6">
					<div class="row">
						<label for="FechaInic" class="col-sm-6 col-form-label" style="font-size: 17px;">Fecha Inicio de la prueba:</label>
					</div>
				</div>
				<div class="form-group form-group-sm col-sm-6">
					<div class="row">
						<label for="FechaFin" class="col-sm-6 col-form-label" style="font-size: 17px;">Fecha Final de la prueba:</label>
					</div>
				</div>
				<div class="form-group form-group-sm col-sm-6">
					<div class="row">
						<label for="DuraPrueba" class="col-sm-6 col-form-label" style="font-size: 17px;"> Duración de la prueba:</label>
					</div>
				</div>
				<div class="form-group form-group-sm col-sm-6">
					<div class="row">
						<label for="DuraPrueba" class="col-sm-6 col-form-label" style="font-size: 17px;"> Cantidad de consultas efectuadas:</label>
					</div>
				</div>
				<div class="form-group form-group-sm col-sm-6">
					<div class="row">
						<label for="DuraPrueba" class="col-sm-6 col-form-label" style="font-size: 17px;"> Cantidad de consultas no efectuadas:</label>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="form-group form-group-sm col-sm-6">
		<div class="form-group">
			<button type="submit" class="btn btn-primary" style="position:absolute; top:0; right:-270px"> Salir del Reporte</button>
		</div>
	</div>
	@{ Html.RenderPartial("~/Views/Shared/Footer/_FooterPrincipal.cshtml");}
</body>
</html>
