<nav class="navbar navbar-dark bg-dark" style="height:50px">
	<a class="navbar-brand" href="#">
		<h1>SQL Stress <span class=" fas fa-code" style="color:dodgerblue;"></span></h1>
	</a>
	<li class="nav-item">
		<a class="nav-link" href="#">Reporte de prueba</a>
	</li>	
</nav>